:root {
    --primary-color: #f5f5f5;
    --secondary-color: #000000;
    --borders: 2px solid var(--secondary-color);
    --borders-transparent: 2px solid transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 16px; /* or 100% */
}

body {
    background-color: var(--primary-color);
    margin: 0px;
    padding: 0px;
}

/*header*/
header {
    max-height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}

/*navbar*/
#navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    top: 0;
}

#navbar a {
    position: relative;
    padding: 18px 36px;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    border: var(--borders-transparent)
}

#navbar a::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: var(--borders);
    border-right: var(--borders);
    transition: .9s ease-in-out;
}

#navbar a::after {
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: var(--borders);
    border-bottom: var(--borders);
    transition: .9s ease-in-out;
}

#navbar a.nav-links-left:hover::before {
    inset: 0 20px;
    transform: skew(25deg);
}

#navbar a.nav-links-left:hover::after {
    inset: 12px 0;
    transform: skew(-25deg);
}

#navbar a.nav-links-right:hover::before {
    inset: 0 20px;
    transform: skew(-25deg);
}

#navbar a.nav-links-right:hover::after {
    inset: 12px 0;
    transform: skew(25deg);
}
/*end navbar*/

/*end header*/

/*main*/
main {
    padding: 108px 15px;
    height: fit-content;
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid #000000;
}

main section{
    padding: 10px;
    height: auto;
    width: auto;
}

.grid-span2 {
    grid-column: span 2;
}

/*about*/
#welcome-section {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

#welcome-section #profile {
    margin-bottom: 1rem;
    padding: 1rem;
    width: fit-content;
    display: flex;
    border: 1px solid black;
}

#welcome-section #profile img {
    width: 9rem;
    height: 13.5rem;
}

#welcome-section #profile h3 {
    padding-top: .2rem;
}

#welcome-section #profile p {
    margin-top: -.2rem;
    border: 1px solid black;
}
#welcome-section #profile .profile-container2 {
    padding-left: .5rem;
    padding-top: 2.1rem;
}

/*end about*/

/*skills*/
#projects {

    border: 1px solid black;
}
/*end skills*/

/*services*/
#services {

    border: 1px solid black;
}
/*end services*/

/*contact*/
#contact {

    border: 1px solid black;
}
/*end contact*/

/*end main*/

/*footer*/
footer {
    height: 60px;
    width: 100%;
    background-color: var(--primary-color); ;
    color: #000000;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
/*end footer*/

/*media queries*/

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    header {
        height: 80px;
    }

    main {
        padding: 88px 15px;
    }
}

/*end media queries*/
